/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-apr-2016, 14.07.28
    Author     : Luca
*/

body
{
    background-image: url("drawable/background.png");
    background-repeat: repeat;
    align-items: center;
}

@font-face {
   font-family: 'Super Mario 256';
   src: url('SuperMario256.ttf') format('truetype');;
}

@font-face {
   font-family: 'Tw Cen MT';
   src: url('Tw Cen MT.ttf') format('truetype');;
}

p, input, table, label, textarea
{
   font-family: 'Tw Cen MT', Verdana, sans-serif;
   line-height: 19px;
   font-size: 16px;
   color: #381600;    
}

label
{
   font-weight: bold;  
}

h1
{
   font-family: 'Super Mario 256', Verdana, sans-serif;
   font-size: 24px;
   color: #960000;
   text-shadow: 2px 2px 2px #C0C0C0;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #4D0000;
}

h2
{
   font-family: 'Super Mario 256', Verdana, sans-serif;
   font-size: 20px;
   color: #960000;
   text-shadow: 2px 2px 2px #C0C0C0;
   -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: #4D0000;
}

h3
{
   font-family: 'Super Mario 256', Verdana, sans-serif;
   font-size: 16px;
   color: #381600;
}

a
{
   font-family: 'Tw Cen MT', Verdana, sans-serif;
   line-height: 18px;
   font-size: 15px;
   color: #CC0000;  
   text-decoration: none;
}

a:visited
{
   color: purple;   
   text-decoration: none;
}

a:hover
{
    font-weight: bold;
    text-decoration: none;
}

table 
{
    width: 100%;
}

th, tr 
{
    height: 50px;
    width: 50px;
    text-align: center;
}

tr:nth-child(odd)		
{ 
    background-color: #FFF5D9; 
}

tr:nth-child(even)		
{ 
    background-color: #FFFEE6; 
}

th
{
    background-color: #7A3100;
    color: white;
}

form.label
{
    width: 100px;
}

#Nome, #Url, #Descrizione, #Prezzo, #Pezzo
{
    width: 200px;
}

form  
{ 
    display: table;  
    margin-right: 5%;
    padding: 25px;
    background: rgba(128, 64, 0, .3);
    border-radius: 7px;
    border-style: solid;
    border-color: white;
}

p     
{ 
    display: table-row;  
}

label 
{ 
    display: table-cell; 
    width: 200px;
    vertical-align: top;
}

input 
{ 
    display: table-cell; 
}

input, textarea
{
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #7A3100;
}

input.cl1
{
    color: #FFFFFF;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    background-color: #960000; 
    width: 100px;
    height: 35px;
    box-shadow: 2px 2px 2px #C0C0C0;
}

#extlinks ul
{
    list-style-type: none;
    text-align: right;
}

#extlinks ul li
{ 
    display: inline; 
}

#header
{
    height: 150px;
    background: rgba(160, 0, 0, .5);
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 7px;
    border-width: 3px;
    border-style: solid;
    border-color: #960000;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 120px;
}

#logo_titolo
{
    padding: 5px;
}

#menu ul
{
    display: table; 
    list-style-type: none;
    text-align: center;
    width: 90%;
    height: 60px;
}

#menu ul li
{ 
    display: inline;
    display: table-cell; 
    background-image: url("drawable/clickable.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 200px;
}

#menu ul li a
{
   font-family: 'Super Mario 256', Verdana, sans-serif;
   font-size: 28px;
   color: #FFA600;
   text-shadow: 2px 2px 2px #C0C0C0;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #993D00;
}

#menu ul li.current_page_item a
{
    color: #AD5700;
    text-shadow: 2px 2px 2px #C0C0C0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #331400;
}

#sidebar1 
{
    float: left;
    width: 200px;
    padding-left: 5px;
    padding-right: 5%;
    list-style-type: none; 
}

#sidebar2 
{
    float: right;
    width: 200px;
    padding-right: 5px;
    padding-left: 5%;
    list-style-type: none; 
}

#foot
{
    height: 100px;
    text-align: center;    
    background: rgba(0, 0, 0, .5);
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 7px;
    border-width: 3px;
    border-style: solid;
    border-color: #960000;
    vertical-align: middle;
}

.foot ul
{
    display: block;
    margin-right: 10px;
}

.foot ul li
{
    
    display: inline-block;
    width: 200px;
    height: 70px;
    overflow: hidden;
    vertical-align: middle;
}

.foot ul li a:link
{
    color: transparent;
}

#nintendo
{
    background-image: url("drawable/nintendo.png");
    background-position: center;
    background-repeat: no-repeat;
}

#superMario
{
    background-image: url("drawable/mario.png");
    background-position: center;
    background-repeat: no-repeat;
}

#maronno
{
    background-image: url("drawable/maronno.png");
    background-position: center;
    background-repeat: no-repeat;
}

#chiquita
{
    background-image: url("drawable/chiquita.png");
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 1024px) {
    
    #page
    {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom:25px;
    }

    #sidebar1
    {
        float: left;
        width: 20%;
        padding-left: 5px;

    }

    #sidebar2
    {
        float: right;
        width: 20%;
        padding-right: 10px;
    }

    #body 
    {
        margin-left: 25%;
        margin-right: 25%;
        padding-bottom: 10px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 480px)
{
    body
    {
        font-family: 'Tw Cen MT', Verdana, sans-serif;
    }
    
    #page
    {
        width: 480px;
        margin-top: 10px;
        margin-bottom:10px;
    }

    #sidebar1 
    {
        visibility: hidden;
    }

    #sidebar2 
    {
        visibility: hidden;
    }

    #body 
    {
        margin-left: 25%;
        margin-right: 25%;
        padding-bottom: 10px;
        padding-left: 10px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px)
{
    body
    {
        font-family: 'Tw Cen MT', Verdana, sans-serif;
    }
    
    #page
    {
        width: 480px;
        margin-top: 10px;
        margin-bottom:10px;
    }

    #sidebar1 
    {
        visibility: hidden;
    }

    #sidebar2
    {
        float: right;
        width: 15%;
        padding-right: 10px;
    }

    #body 
    {
        margin-left: 25%;
        margin-right: 25%;
        padding-bottom: 10px;
        padding-left: 10px;
    }
}