/* 
    Created on : 10-apr-2016, 14.07.28
    Author     : Luca
*/

@font-face 
{
   font-family: 'Super Mario 256';
   src: url('../object/SuperMario256.ttf') format('truetype');;
}

@font-face 
{
   font-family: 'Tw Cen MT';
   src: url('../object/Tw Cen MT.ttf') format('truetype');;
}

body
{
    background-image: url("../drawable/background.gif");
    background-repeat: repeat;
    align-items: center;
    margin: 0px;
    margin-top: 5px;
    
}

p, input, table, label, textarea
{
   font-family: 'Tw Cen MT', Verdana, sans-serif;
   line-height: 19px;
   font-size: 16px;
   color: #381600;    
}

h1
{
   font-family: 'Super Mario 256', Verdana, sans-serif;
   font-size: 24px;
   color: #960000;
   text-shadow: 2px 2px 2px #C0C0C0;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #4D0000;
}

h2
{
   font-family: 'Super Mario 256', Verdana, sans-serif;
   font-size: 20px;
   color: #960000;
   text-shadow: 2px 2px 2px #C0C0C0;
   -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: #4D0000;
}

h3
{
   font-family: 'Super Mario 256', Verdana, sans-serif;
   font-size: 16px;
   color: #381600;
}

a
{
   font-family: 'Tw Cen MT', Verdana, sans-serif;
   line-height: 18px;
   font-size: 15px;
   color: #CC0000;  
   text-decoration: none;
}

a:visited
{
   color: purple;   
   text-decoration: none;
}

a:hover
{
    font-weight: bold;
    text-decoration: none;
}

th, tr 
{
    height: 50px;
    width: 50px;
    text-align: center;
}

td
{
    width: 10%;
}

tr:nth-child(odd)		
{ 
    background-color: #FFF5D9; 
}

tr:nth-child(even)		
{ 
    background-color: #FFFEE6; 
}

th
{
    background-color: #7A3100;
    color: white;
}

#newarticolo
{
    margin-left: 5%;
    padding-left: 2%;
    width: 90%;
}

#newarticolo p
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#newarticolo .featarticolo
{
    width: 85%;
    margin-left: 20px;
    margin-top: 10px;
}

#descarticolo 
{ 
    width: 50%;
    margin-left: 5%;
    padding: 10px;
    background: rgba(128, 64, 0, .3);
    border-radius: 7px;
    border-style: solid;
    border-color: white;
}

#descarticolo img
{ 
    float: right;
}

#descarticolo .cl3
{ 
    width: 75px;
}

#descarticolo .cl1
{ 
    float: right;
    margin-top: -40px;
}

form
{ 
    display: table;  
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    background: rgba(128, 64, 0, .3);
    border-radius: 7px;
    border-style: solid;
    border-color: white;
}

#form_acquista
{
    width: 50%;
}

#form_acquista div
{
    display: table;
}

#form_acquista div label, #form_acquista div input
{
    width: 130px;
}

#form_acquista p
{
    float: right;
}

#loginform p, #acquistaform p 
{ 
    display: table-row;
}

#loginform label
{
    width: 120px;
}

#headloginform
{    
    float: right;
    width: 160px;
    padding-bottom: 0px;
    height: 130px;
    margin: 4px;
    background: rgba(255, 230, 175, 0.35);
    border: none;
}

#headloginform p
{
    margin-top: 0px;
    margin-bottom: 5px;
}

#headloginform .cl1
{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
    height: 22px;
    width: 70px;
}

#headlogoutform
{   
    width: 194px;
    height: 130px; 
    float: right;
    padding-bottom: 0px;
    padding-top:10px;
    margin: 4px;
    background: rgba(255, 230, 175, 0.35);
    border-radius: 7px;
    border: none;
}

#headlogoutform p
{
    vertical-align: text-top;
    margin-top: 0px;
    margin-bottom: 6px;
    margin-left: 10px;
}

#headlogoutsubdiv
{
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    float: right;
}

#headlogoutsubdiv a
{
    margin-top: -10px;
    margin-right: -5px;
    float: right;
    font-size: 16px;
    vertical-align: top;
}

label 
{ 
    display: table-cell; 
    width: 200px;
    vertical-align: top;
    font-weight: bold;  
}

input 
{ 
    display: table-cell; 
}

input, textarea
{
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #7A3100;
}

input.cl1
{
    color: #FFFFFF;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    background-color: #960000; 
    width: 100px;
    height: 35px;
    box-shadow: 2px 2px 2px #C0C0C0;
    margin-right: 10px;
    margin-bottom: 5px;
}

#extlinks ul
{
    list-style-type: none;
    text-align: right;
}

#extlinks ul li
{ 
    display: inline; 
}

#logo_titolo
{
    position: absolute;
}

#header
{
    height: 150px;
    background: rgba(160, 0, 0, .65);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 7px;
    border-width: 3px;
    border-style: solid;
    border-color: #960000;
    margin-bottom: 0px;
}

#menu
{
    margin-top: -3px;
    margin-left: 7%;
    margin-right: 7%;    
    padding-top: 3px;    
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;    
    border-width: 3px;
    border-style: solid;
    border-color: #960000; 
    
    background-image: url("../drawable/menu.png");
    background-position: bottom left;
    background-repeat: repeat-x;  
}

#menu ul
{
    padding: 0px;
    display: table; 
    list-style-type: none;
    text-align: center;
    width: 100%;
    height: 20px;
    margin-bottom: 0px;
}

#menu ul li
{ 
    display: inline;
    display: table-cell;
    width: 25%;
}

#menu ul li a
{
    font-family: 'Super Mario 256', Verdana, sans-serif;
    font-size: 26px;
    color: #FFA600;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #993D00;
    padding-bottom: 20px;
    width: 100%;
}

#menu ul li p
{
    font-family: 'Super Mario 256', Verdana, sans-serif;
    font-size: 26px;
    color: rgba(113, 57, 23, 0.4);
    margin: 0px;
    padding-bottom: 20px;
    width: 100%;
}

#menu ul li .current
{
    font-family: 'Super Mario 256', Verdana, sans-serif;
    font-size: 24px;
    color: rgb(191,15,23);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(35, 0, 0);
    
    background-image: url("../drawable/current.png");
    background-position: bottom center;
    background-repeat: no-repeat;  
}

#denied
{
    align-content: center;
    text-align: center;
    height: 200px;
}

#sidebar
{
    float: left;
    width: 150px;
    padding-left: 7%;
    padding-right: 10px;
    list-style-type: none;
    margin-top: 30px;
}

#corpo, #denied, #failedlog
{
    margin-left: 25%;
    margin-right: 10%;
    margin-top: 45px;
}

#denied h1
{
    color: rgb(213, 0, 5);
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: rgb(90, 0, 0);
}

#failedlog
{
    background-image: url("../drawable/retry.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 5px;
}

#foot
{
    margin-top: 100px;
    height: 96px;    
    align-content: center;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 7px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(60, 30, 0);
    vertical-align: middle;
    
    background-image: url("../drawable/footer.png");
    background-position: top left;
    background-repeat: repeat-x;
}

.foot ul
{
    display: block;
    margin-right: 10px;
}

.foot ul li
{
    margin-left:5%;
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    vertical-align: middle;
}

.foot ul li a:link
{
    color: transparent;
}

.timbro 
{
    -webkit-filter: drop-shadow(3px 3px 1px #222);
    filter: drop-shadow(3px 3px 1px #222);
}

#body2
{    
    background-image: url("../drawable/footimg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 5px;
}

.err
{
    text-align: right;
}

#filtrocliente
{
    margin-right: 0px;
    margin-left: 55%;
}

#retry
{
    float: right;
}